<h1>Tournament Manager</h1>

<% if user_signed_in? %>
	<p><%= link_to "Add New Tournament", new_tournament_path %></p> 
<% else %>
	<p>Sign up or log in to create a new tournament.</p>
<% end %>

<p><%= link_to "View All Tournaments", tournaments_url %></p>

