<div class='col-sm-6'>

<h1><%= @tournament.name %></h1>

<p class='lead'><%= @tournament.location %></p>

<p class='lead'><%= @tournament.activity.name %></p>

<% unless @tournament.organisation.blank? %>
	<p>Organised by <%= @tournament.organisation %></p>
<% end %>

<% if @fixtures.unplayed.blank? %>
	<p>All scheduled games have already been played.</p>
<% else %>


	<h3>Upcoming Matches</h3>


		<% @fixtures.unplayed.each do |round| %>

			<h4>Round <%= round[0] %></h4>
			<% round[1].each do |fixture| %>
				<div class='fixture_block'>
					<% if fixture[:bye] == true %>
						<p class='lead text-center'><%= fixture[:player1] %> has a bye for round <%= fixture[:round] %></p>
					<% else %>
						<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
						<%= text_field_tag fixture[:id], fixture[:time_for_input], class: 'scheduleChangeTime form-control datetimepicker1' %>
						<br>
					  <p class='lead text-center'><%= fixture[:player1] %> vs.	<%= fixture[:player2] %></p>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>