<h1><%= @tournament.name %></h1>
<h2>Update Schedule</h2>

<p><%= @tournament.activity.name %></p>

<p><%= @tournament.location %></p>

<% unless @tournament.organisation.blank? %>
	<p>Organised by <%= @tournament.organisation %></p>
<% end %>

<% if @fixtures.unplayed.blank? %>
	<p>All scheduled games have already been played.</p>
<% else %>

	<h2>Upcoming Matches</h2>

	<% @fixtures.unplayed.each do |round| %>

		Round <%= round[0] %>
		<% round[1].each do |fixture| %>
			<% if fixture[:bye] == true %>
				<p><%= fixture[:player1] %> has a bye for round <%= fixture[:round] %></p>
			<% else %>
				<p><%= link_to "Match #{fixture[:game_number]}", fixture_path(fixture[:id]) %></p>
				<div class="container">
				  <div class="row">
				    <div class='col-sm-6'>
							<%= text_field_tag fixture[:id], fixture[:time_for_input], class: 'scheduleChangeTime form-control datetimepicker1' %>
					  </div>
					</div>
				</div>				
			  <p><%= fixture[:player1] %> vs.	<%= fixture[:player2] %></p>
			<% end %>
		<% end %>
	<% end %>
<% end %>