.final {
 	width: 100px;
 	display: inline-block;
 	border-style: solid;
 	text-align: center;
}

.playoff_chart_game {
 	width: 100px;
 	border-style: solid;
 	height: 8em;
 	text-align: center;
}

.playoff_chart_round {
	display: inline-block;
	height: 100%;
}

.playoff_chart {
	overflow: hidden;
}
