.final {
	margin-left: auto;
 	margin-right: auto;
 	width: 100px;
 	display: inline-block;
 	border-style: solid;
}

.playoff_chart_game {
 	width: 100px;
 	border-style: solid;
}

.playoff_chart_round {
	display: inline-block;
}
